/* Commented out to use inline style */
/* h1 {
    color: blue;
    text-align: center;
} */

h2 {
    color: black;
    background-color: beige;
    border: 7px solid aqua;
    margin: 10px 1270px 10px 10px;
    padding: 10px 10px 10px 10px;

}

/*Commented out to use internal CSS */
/* h3 {
    margin-bottom: 10px;
    margin-top: 5px;
    background-color: chartreuse;
} */

.box {
    width: 250px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    border: 5px solid blue;
    background-color: cadetblue;
    display: inline-block;
    vertical-align: top;
}

.pic1 {
    display: inline-block;
    /* top, right, bottom, left */
    padding: 0px 10px 0px 100px;
}